@import ("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700");

:root {

	--color-black: #000;
	--color-white: #fff;
	--color-mask: rgba(0,0,0,0.75);

	--color-gray-10: #333;
	--color-gray-20: #666;
	--color-gray-30: #999;
	--color-gray-40: #CCC;
	--color-gray-50: #EEE;

	--color-tan-10: #DBDBC7;
	--color-tan-20: #A0955D;

	--color-blue-10: #267EC1;
	--color-blue-20: #005DD8;

	--color-red-10: #D84545;
	--color-red-20: #B53E39;

	--color-green-10: #0F9305;
	--color-green-20: #006B0A;

	--color-text: var(--color-gray-10);

	--font-family-primary: 'Roboto Mono', monospace;

	--font-weight-light: 300;
	--font-weight-medium: 400;
	--font-weight-bold: 700;

	--base-font-size: 1rem;

	--width-page: 80rem;
	--spacing-horizontal: 1rem;
	--spacing-vertical: 1.5rem;
	--gutter-width: 1rem;

	--border-radius: 0.25rem;

	--anim-duration: 0.5s;
	--anim-easing: ease-in-out;

}

@custom-media --small (min-width: 30em);
@custom-media --medium (min-width: 48em);
@custom-media --large (min-width: 64em);