:root {
	--color-black: #000;
	--color-white: #fff;
	--color-gray-10: #333;
	--color-gray-20: #666;
	--color-gray-30: #999;
	--color-gray-40: #ccc;

	--color-team-blue: rgb(10,10,255);
	--color-team-red: rgb(255,10,10);

	--color-green: rgb(25,150,25);
	--color-positive: var(--color-green);
	--color-red: rgb(255,0,0);
	--color-negative: var(--color-red);

	--color-text: var(--color-black);
	--color-border: var(--color-gray-30);

	--font-family-primary: 'Montserrat', sans-serif;
	--font-size-base: 1rem;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 800;

	--width-page: 80rem;
	--width-gutter: 1rem;

	--spacing-horizontal: 1rem;
	--spacing-vertical: 1.5rem;

	--border-radius: 0.25rem;

	--anim-duration: 0.5s;
	--anim-easing: ease-in-out;
}

@custom-media --small (min-width: 30em);
@custom-media --medium (min-width: 50em);
@custom-media --large (min-width: 70em);
@custom-media --extra-large (min-width: 75em);