{{# field }}
	<div class="field {{ styleModifier }}">
		{{> basics-label }}
		{{> basics-select-menu }}
		{{# isInvalid }}
			{{> basics-field-error-message }}
		{{/ isInvalid }}
	</div>
{{/ field }}
