.site-footer {
    padding: 0.25rem 1rem;
    margin: 1rem auto 0 auto;
    font-size: 0.75rem;
    font-weight: var(--font-weight-light);
    text-align: right;
}

@media (--large) {
    .site-footer {
        max-width: calc(100% - 22rem);
    }
}