.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    contain: content;
}

@media (--medium) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (--large) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.5rem;
    }
}