{{# icon }}
    <svg
        class="icon {{styleModifier}} {{# rotate }}icon--rotate-{{ rotate }}{{/ rotate }}"
        {{# hook }}data-hook="{{hook}}"{{/ hook }}
        aria-hidden="true"
        focusable="false">
        <use xlink:href="#{{id}}" href="#{{id}}"></use>
    </svg>
{{/ icon }}