{{# button }}
    <button 
        type="{{ type }}" 
        class="button {{# isAlt }}button--alt{{/ isAlt }} {{ cssClass }}" 
        {{# isDisabled }}disabled{{/ isDisabled }}>
        {{ content }}
    </button>
{{/ button }}