.switch {
    display: flex;
}

.switch__item {
    &:first-child {
        .switch__label {
            border-radius: 0.5rem 0 0 0.5rem;
        }
    }
    &:last-child {
        .switch__label {
            border-radius: 0 0.5rem 0.5rem 0;
        }
    }
    & + .switch__item {
        .switch__label {
            border-left: 0;
        }
    }
}

.switch__label {
    padding: 0.25rem 1rem;
    box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-gray-30);
    background: linear-gradient(to bottom, var(--color-gray-40) 0%, var(--color-gray-50) 100%);
}

.switch__input:checked + .switch__label {
    color: var(--color-white);
    background: linear-gradient(to bottom, var(--color-green-10) 0%, var(--color-green-20) 100%);
    .sub-label {
        font-weight: var(--font-weight-normal);
    }
}