.switch,
.switch-toggle {
    margin: 0.5rem auto 1rem auto;
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
}

.switch-toggle {
    display: flex;
}

.switch {
    display: block;
    position: relative;
    text-align: center;
}

.switch__label,
.switch-toggle__label {
    display: block;
    color: var(--color-text);
    background-color: transparent;
    transition: background-color var(--anim-duration);
}

.switch__control,
.switch-toggle__control {
    display: none;
    overflow: hidden;
    height: 0;
	width: 0;
	visibility: hidden;
}

.switch__control {
    &:checked {
        & + .switch__label {
            background-color: var(--color-white);
        }
    }
}

.switch-toggle__item {
    flex-grow: 1;
    text-align: center;
    & + & {
        border-left: 1px solid var(--color-border);
    }
    &:first-child {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
    &:last-child {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
}

.switch-toggle__control {
    &:checked {
        & + .switch-toggle__label {
            color: var(--color-white);
            &.switch--blue {
                background-color: var(--color-team-blue);
            }
            &.switch--red {
                background-color: var(--color-team-red);
            }
        }
    }
}