body {
	color: var(--color-text);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-normal);
	letter-spacing: 2px;
}

p {
	margin: 0 0 var(--spacing-vertical) 0;
}