<header class="site-header" role="banner">
	<div class="shim">
		{{> components-logo }}
		<div class="site-title">
			<h1 class="site-title_text">Code Names/{{ roomName }}</h1>
		</div>
		{{> components-participants }}
	</div>
</header>