<div class="board-container">
    <div class="shim">
        <ul class="board">
            {{# pieceList }}
                {{> components-piece }}
            {{/ pieceList }}
        </ul>
    </div>
</div>