<div class="participants">
    <img src="../../images/ico_teams.png" alt="teams" class="participants__icon" />
    {{# score }}<button id="scores" class="scores button"><span class="score score--blue">{{ blue }}</span>-<span class="score score--red">{{ red }}</span></button>{{/ score }}
    {{# showCompontentsList }}
        {{> components-participants-list }}
    {{/ showCompontentsList }}
</div>