{{# participant }}
    <li class="participant color-{{ team }}">
        <span class="participant__name">{{ name }}</span> -
        <span class="participant__position">{{ position }}</span>
    </li>
{{/ participant }}