	<script type="module" src="../../js/main-bundle.js"></script>
	<script nomodule src="../../js/main-bundle-nomodule.js"></script>

	<!-- Begin Pattern Lab JS -->
	{{{ patternLabFoot }}}
	<!-- End Pattern Lab JS -->

	</body>
</html>