	<script type="module" src="../../js/main.js"></script>
	<script nomodule src="../../js/nomodule/main.js"></script>

	<!-- Begin Pattern Lab JS -->
	{{{ patternLabFoot }}}
	<!-- End Pattern Lab JS -->

	</body>
</html>