{
	"ignore": [
		"node_modules/**"
	],
	"plugins": [
		"@babel/plugin-transform-react-jsx",
		"@babel/plugin-proposal-class-properties"
	],
	"presets": [
		["@babel/preset-env", {
			"modules": false,
			"useBuiltIns": "usage"
      	}]
    ]
}