.current-turn {
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}

@media (--medium) {
    .current-turn {
        font-size: 1.2rem;
    }
}

@media (--large) {
    .current-turn {
        font-size: 1.5rem;
    }
}